.box-el{
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-item{
  cursor: pointer;
  border-radius: 0.25rem;
  height: 390px;
  width:  250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px;
  border-color: rgb(255, 250, 229);
  border-style: solid;
}


.store-item .add-to-cart{
  opacity: 0;
  position: absolute;
  cursor: pointer;
  border-radius: 0.25rem;
  height: 390px;
  width:  250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px;
  border-color: rgb(255, 250, 229);
  border-style: solid;
  transition: 800ms ease-in-out;
}

/* .store-item .add-to-cart:hover{ */
.store-item .add-to-cart:hover{
  opacity: 1;
  background-color: rgba(255, 250, 229, 0.9);
  transition: 150ms ease-in-out;
}

.store-item div{
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.store-item div:hover, div:focus, div:active{
  text-decoration: none;
  color: inherit;
}

.store-item div .product-title{
  height: 40px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(0, 0, 0, 0.7) ;
}

.store-item div .product-title h6{
  margin-bottom: 0px;
}


.store-item div .product-image{
  height: 210px;
}

.store-item div .product-image img{
  max-width: 100%;
  max-height: 100%;
}

.store-item div .product-desc{
  height: 110px;
  align-items: center;
  justify-content: center;
  font-style: italic;
  padding: 5px 10px;
}

.store-item div .product-price{
  height: 30px;
  align-items: center;
  justify-content: space-evenly;
  font-style: italic;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px 10px;
}

.cart-list-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart-item{
  border-radius: 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px;
  border-color: rgb(255, 250, 229);
  border-style: solid;
}

a.cart-item:hover, a.cart-item:focus, a.cart-item:active{
  background-color: rgb(255, 250, 229);
  border-radius: 0.25rem;
  border: 2px;
  border-color: rgb(255, 250, 229);
  border-style: solid;
}

.cart-item-image{
  height: 80px;
  border: 4px;
  border-color: rgb(255, 250, 229);
  border-style: solid;
}

.cart-item-image img{
  max-width: 100%;
  max-height: 100%;
}

.carousel-root {
  background-color: rgb(243, 201, 80);
}

.carousel-center {
  position: relative;
}

.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-inverted {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
